body {
    background-color: rgb(221, 221, 221);
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: #1a1a1a;
    color: white;
}

.mood {
    display: flex;
    justify-content: space-between;
    max-width: 560px;
    align-items: center;
    position: relative;
    bottom: 10px;
}

#theme-toggle {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#theme-toggle img:hover {
   transform: scale(1.2, 1.2);
   transition: 0.5s ease-out;
}

.container {
    max-width: 480px;
    transform: translate(92%, 2%);
    padding-bottom: 20px;
}


.button {
    width: 105px;
    height: 95px;
    font-size: 30px;
    background-color: #ebebeb;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);

}

.row {
    margin: 11px 0px;
    display: flex;
    justify-content: center;
    gap: 13px;
}

.main {
    margin-left: 10px;
}

.main input {
    padding: 50px 27px;
    background-color: transparent;
    color: #000000;
    border: none;
    outline: none;
    background: #ffffff;
    font-size: 33px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 15px;
    
}